[submodule "qrcode-comp"]
	path = qrcode-comp
	url = https://github.com/mehdi-adham/qr-code-component-main.git
[submodule "order-summary-component"]
	path = order-summary-component
	url = https://github.com/mehdi-adham/order-summary-component-main.git
[submodule "stats-preview-card-component"]
	path = stats-preview-card-component
	url = https://github.com/mehdi-adham/stats-preview-card-component-main.git
[submodule "profile-card-component"]
	path = profile-card-component
	url = https://github.com/mehdi-adham/profile-card-component-main.git
